* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  max-width: 640px;
  background-color: #f5f5f5;
  user-select: none;
  touch-action: none;
}

li {
  list-style: none;
}
